<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="springCourseBook" 
          class="ru.lionsoft.hello.spring.context.lab02_3.SpringCourseBook" />

    <bean id="javaCourseBook" 
          class="ru.lionsoft.hello.spring.context.lab02_3.JavaCourseBook" />
    
    <bean id="springGuru" 
          class="ru.lionsoft.hello.spring.context.lab02_3.JavaInstructor" 
          autowire="byType" />
</beans>
