<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <bean id="javaTunesCatalog" class="ru.lionsoft.hello.spring.web.catalog.JavaTunesCatalog">
        <constructor-arg ref="inMemoryItemDAO"/>
        <property name="maxSearchResults" value="20"/>
    </bean>

    <security:http auto-config="true">
        <security:intercept-url pattern="/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="{noop}admin@password" authorities="ROLE_ADMIN" />
                <security:user name="user" password="{noop}user@password" authorities="ROLE_USER" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
    
    <!-- 
     <security:global-method-security secured-annotations="enabled" jsr250-annotations="enabled"/>  
    -->
    
    <security:global-method-security>
        <security:protect-pointcut expression="execution(* ru.lionsoft.hello.spring.web.catalog.Catalog.*(..))" access="hasRole('ROLE_ADMIN')"/>
    </security:global-method-security>  
</beans>