<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="igorMorenko" class="ru.lionsoft.hello.spring.context.lab03_3.InstructorData">
        <property name="name" value="Igor Morenko" />
        <property name="age" value="49.1" />
    </bean>
    
    <bean id="igorMironchik" class="ru.lionsoft.hello.spring.context.lab03_3.InstructorData">
        <property name="name" value="Igor Mironchik" />
        <property name="age" value="60.5" />
    </bean>
    
    <!-- TODO add the component-scan element -->
    <context:component-scan base-package="ru.lionsoft.hello.spring.context.lab03_3"/>

</beans>
